@model Laboratorium.Models.ViewModels.PacketViewModel

@using (Html.BeginForm("Index", "Console", FormMethod.Post, new { id = "form", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken();
    <div>
        @Html.HiddenFor(m => m.Id)
        <ul class="nav nav-pills nav-justified" id="form-tabs" role="tablist">
            <li role="presentation" class="">
                <a href="#script" id="script-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Скрипт</a>
            </li>
            <li role="presentation" class="active">
                <a href="#result" role="tab" id="result-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Результат</a>
            </li>
            <li role="presentation" class="">
                <a href="#module" role="tab" id="module-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Модули</a>
            </li>
            <li role="presentation" class="">
                <a href="#settings" role="tab" id="module-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Настройки</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade container container-fixed" role="tabpanel" id="script" aria-labelledby="home-tab">
                @Html.TextAreaFor(m => m.Script, new {@class = "form-control"})
            </div>
            <div class="tab-pane fade active in container container-fixed" role="tabpanel" id="result" aria-labelledby="profile-tab">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @foreach (var t in Model.Result)
                {
                    <div>@t</div>
                }
            </div>
            <div class="tab-pane fade container container-fixed" role="tabpanel" id="module" aria-labelledby="profile-tab">
                @for (var i = 0; i < Model.Modules.Count; i++)
                {
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            @Html.CheckBoxFor(m => m.Modules[i].IsEnadled)
                            @Html.Hidden("Modules[" + i + "].Name", Model.Modules[i].Name)
                            @Html.DisplayTextFor(m => m.Modules[i].Name)
                        </div>
                        <div class="panel-body">
                            @Html.DisplayTextFor(m => m.Modules[i].Info)
                            @Html.Hidden("Modules[" + i + "].Info", Model.Modules[i].Info)
                            <ol>
                                @for (var j = 0; j < Model.Modules[i].Functions.Count; j++)
                                {
                                    <li>
                                        @Model.Modules[i].Functions[j]
                                    </li>
                                    @Html.Hidden("Modules[" + i + "].Functions[" + j + "]", Model.Modules[i].Functions[j])
                                }
                            </ol>
                        </div>
                    </div>
                }
            </div>
            <div class="tab-pane fade container container-fixed" role="tabpanel" id="settings" aria-labelledby="profile-tab">
                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.IsPublic, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.IsPublic,
                            new List<SelectListItem>
                            {
                                new SelectListItem {Selected = Model.IsPublic, Text = @"Да", Value = "true"},
                                new SelectListItem {Selected = !Model.IsPublic, Text = @"Нет", Value = "false"}
                            },
                            new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.IsReusable, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.IsReusable,
                            new List<SelectListItem> {
                                new SelectListItem { Selected = Model.IsReusable, Text = @"Да", Value = "true" },
                                new SelectListItem { Selected = !Model.IsReusable, Text = @"Нет", Value = "false" } },
                            new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-group" role="group">
        <button name="PacketAction" value="New" type="submit" class="btn btn-primary" aria-label="Left Align">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            &nbsp;
            Новый
        </button> 
        <button name="PacketAction" value="Execute" type="submit" class="btn btn-primary" aria-label="Left Align">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            &nbsp;
            Выполнить
        </button>
        <button name="PacketAction" value="Save" type="submit" class="btn btn-primary" aria-label="Left Align">
            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
            &nbsp;
            Сохранить в БД
        </button>
        <button name="PacketAction" value="Load" type="submit" class="btn btn-primary" aria-label="Left Align">
            <span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span>
            &nbsp;
            Загрузить из БД
        </button>
        <button name="PacketAction" value="Delete" type="submit" class="btn btn-primary" aria-label="Left Align">
            <span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span>
            &nbsp;
            Удалить из БД
        </button>
    </div>
}

<link href="../../Content/console.css" rel="stylesheet">
<script type="text/javascript" src="../../Scripts/console.js"></script>