@model Laboratorium.Models.ViewModels.ScriptsInViewModel

<h2>Скрипты</h2>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.Label("Название")
                <button class="btn btn-default sorting" type="button" orderby="Title">
                    <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                </button>
            </th>
            <th>
                @Html.Label("Скрипт")
                <button class="btn btn-default sorting" type="button" orderby="Code">
                    <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                </button>
            </th>
            <th>
                @Html.Label("Автор")
                <button class="btn btn-default sorting" type="button" orderby="Author">
                    <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                </button>
            </th>
            <th>

            </th>
        </tr>
        <tr>
            <th>
                @Html.TextBoxFor(m => m.Filtering.Title, new { @class = "form-control", placeholder="Искомое название..." })
            </th>
            <th>
                @Html.TextBoxFor(m => m.Filtering.Code, new { @class = "form-control", placeholder = "Искомый код..." })
            </th>
            <th>
                @Html.TextBoxFor(m => m.Filtering.Author, new { @class = "form-control", placeholder = "Искомый автор..." })
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<ul class="pagination">
    @*<li class="@(Model.Paging.IsPreviousEnabled ? "" : "disabled")">
        <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    @foreach (var item in Model.Paging.Pages)
    {
        <li class="@(Model.Paging.CurrentPage==item ? "active" : "")">
            <a href="#">
                @item
            </a>
        </li>
    }
    <li class="@(Model.Paging.IsNextEnabled ? "" : "disabled")">
        <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>*@
</ul>

<link href="../../Content/loadFromDb.css" rel="stylesheet">
<script type="text/javascript" src="../../Scripts/loadFromDb.js"></script>