@model Laboratorium.Models.ViewModels.FullPacketViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Title</title>
    <link rel="shortcut icon" href="../../Images/letter-l.png" />
</head>
<body>
    <div>
        <h2>Название: @Model.Title</h2>
        <h2>Автор: @Model.Author</h2>
        <h2>Общедоступный: @(Model.IsPublic ? "Да" : "Нет")</h2>
        <h2>Встраиваемый: @(Model.IsReusable ? "Да" : "Нет")</h2>
        <h2>Скрипт:</h2>
        @foreach (var line in Model.Script)
        {
            <div>@line</div>
        }
    </div>
</body>
</html>