@model Laboratorium.Core.Packet

@using (Ajax.BeginForm("SimpleConsole", "Console", null, new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    UpdateTargetId = "form",
    OnBegin = "showDialog",
    OnComplete = "hideDialog"
}, new {id = "form", @class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new {@class = "text-danger" })
    <div>
        <ul class="nav nav-pills nav-justified" id="form-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#script" id="script-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Скрипт</a>
            </li>
            <li role="presentation" class="">
                <a href="#result" role="tab" id="result-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Результат</a>
            </li>
            <li role="presentation" class="">
                <a href="#error" role="tab" id="error-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Ошибки</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" role="tabpanel" id="script" aria-labelledby="home-tab">
                @Html.TextAreaFor(m => m.Script, new {@class = "form-control", placeholder = "Alt+Enter - выполнить скрипт\r\nTab - 4 пробела" })
                @*<input type="submit" value="Выполнить" class="btn btn-primary"/>*@
            </div>
            <div class="tab-pane fade" role="tabpanel" id="result" aria-labelledby="profile-tab">
                @for (var i = 0; i < Model.Result.Count; i++)
                {
                    <div name="Result[@i]">@Model.Result[i]</div>
                }
            </div>

            <div class="tab-pane fade" role="tabpanel" id="error" aria-labelledby="profile-tab">
                @for (var i = 0; i < Model.Errors.Count; i++)
                {
                    <div name="Errors[@i]">@Model.Errors[i]</div>
                }
            </div>
        </div>
    </div>
}