<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../Images/letter-l.png" />
    <title>Лабораториум</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/common")*@
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Лабораториум", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Консоль", "Index", "Console")</li>
                <li>@Html.ActionLink("О проекте", "About", "Home")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Помощь<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Как использовать", "HowToUse", "Home")</li>
                        <li>@Html.ActionLink("Примеры", "Examples", "Home")</li>
                        <li>@Html.ActionLink("Литература", "Books", "Home")</li>
                        <li>@Html.ActionLink("Руководство", "DownloadDevGuide", "Home")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Администрирование<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Пользователи", "Index", "Accounts")</li>
                            </ul>
                        </li>
                    }
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div id="main-container" class="container body-content">
        @RenderBody()
    </div>
</body>
</html>