<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../LetterL.png" />
    <title>Лабораториум</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Лабораториум", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Консоль<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Простая", "SimpleConsoleIndex", "Console")</li>
                        <li>@Html.ActionLink("Расширенная", "ComplexConsoleIndex", "Console")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("О проекте", "About", "Home")</li>
                <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
            </ul>
            @*@Html.Partial("_LoginPartial")*@
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Что ищем?">
                    </div>
                    <button type="submit" class="btn btn-primary">Поиск</button>
                </form>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>