@model Laboratorium.Models.ViewModels.AccountsInViewModel

<h2>Пользователи</h2>
<hr />

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.Label("Фамилия")
                <button class="btn btn-default sorting active" type="button" orderby="LastName">
                    <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                </button>
            </th>
            <th>
                @Html.Label("Имя")
                <button class="btn btn-default sorting" type="button" orderby="FirstName">
                    <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                </button>
            </th>
            <th>
                @Html.Label("Отчество")
                <button class="btn btn-default sorting" type="button" orderby="Patronymic">
                    <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                </button>
            </th>
            <th>
                @Html.Label("Роль")
                @*<button class="btn btn-default sorting" type="button" orderby="Role">
                    <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                </button>*@
            </th>
            <th>

            </th>
        </tr>
        <tr>
            <th>
                @Html.TextBoxFor(m => m.Filtering.LastName, new { @class = "form-control", placeholder = "Искомая фамилия..." })
            </th>
            <th>
                @Html.TextBoxFor(m => m.Filtering.FirstName, new { @class = "form-control", placeholder = "Искомое имя..." })
            </th>
            <th>
                @Html.TextBoxFor(m => m.Filtering.Patronymic, new { @class = "form-control", placeholder = "Искомое отчество..." })
            </th>
            <th>
                @Html.DropDownListFor(m => m.Filtering.Role, new List<SelectListItem> { new SelectListItem { Selected = true, Text = @"Администратор", Value = "0" }, new SelectListItem { Text = @"Пользователь", Value = "1" } }, new { @class = "form-control" })
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<ul class="pagination"></ul>

<link href="../../Content/manageAccounts.css" rel="stylesheet">
<script type="text/javascript" src="../../Scripts/manageAccounts.js"></script>